src/main/java/ru/neustupov/xml/notebook-schema.xml

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="notebook" type="notebookType"/>

  <xsd:complexType name="notebookType">
    <xsd:element name="person" type="personType" minOccurs="0" maxOccurs="unbounded"/>
  </xsd:complexType>

  <xsd:complexType name="personType">
    <xsd:sequence>
      <xsd:element name="name">
        <xsd:complexType>
          <xsd:attribute name="first" type="xsd:string" use="optional"/>
          <xsd:attribute name="second" type="xsd:string" use="optional"/>
          <xsd:attribute name="surname" type="xsd:string" use="optional"/>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="birthday" type="ruDate" minOccurs="0"/>
      <xsd:element name="address" type="addressType" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="phone-list" type="phone-listType" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="addressType">
    <xsd:sequence>
      <xsd:element name="street" type="xsd:string"/>
      <xsd:element name="city" type="cityType"/>
      <xsd:element name="zip" type="xsd:positiveInteger"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="cityType">
    <xsd:simpleContent>
      <xsd:extension base="xsd:string">
        <xsd:attribute name="type" type="placeType" default="город"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>

  <xsd:simpleType name="placeType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="город"/>
      <xsd:enumeration value="поселок"/>
      <xsd:enumeration value="деревня"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:complexType name="phone-listType">
    <xsd:element name="work-phone" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
    <xsd:element name="home-phone" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
  </xsd:complexType>

  <xsd:simpleType name="ruDate">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="[0-9]{2}.[0-9]{2}.[0-9]{4}"/>
    </xsd:restriction>
  </xsd:simpleType>
</xsd:schema>